/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

[data-class=CitadelShopMod],
[data-class=CitadelShopMod].atMaxActiveSlots.owned {
	min-height: 80px;
	height: 120px;
	width: 108px;
	padding: 5px;
	tooltip-position: right;
	tooltip-body-position: 50% 50%;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.05s;
	wash-color: colorEnemy&90;
	opacity: 0.8;
	brightness: 0.5;
}

[data-class=CitadelShopMod],
[data-class=CitadelShopMod].owned {
	wash-color: none;
	opacity: 1;
	brightness: 1;
}

.gEditingBuilds [data-class=CitadelShopMod].recommended {
	wash-color: buildsLightColor;
}

[data-class=CitadelShopMod].isActiveItem {
	border-radius: 5px;
}

.ModTierHovered [data-class=CitadelShopMod].isActiveItem {
	border-radius: 5px;
}

[data-class=CitadelShopMod]:hover,[data-class=CitadelShopMod].owned:hover {
	pre-transform-scale2d: 1.05;
	z-index: 10;
}

.shopClosed [data-class=CitadelShopMod]:hover {
	pre-transform-scale2d: 1;
}

[data-class=CitadelShopMod].owned {
	box-shadow: none;
}

[data-class=CitadelShopMod].owned:hover {
	opacity: 1;
}

[data-class=CitadelShopMod].atMaxActiveSlots {
	brightness: 0.5;
}

[data-class=CitadelShopMod].itemDisabled {
	wash-color: #00000060;
	opacity: 0.2;
	box-shadow: none;
	saturation: 0;
}

[data-class=CitadelShopMod].itemDisabled:hover {
	pre-transform-scale2d: 1;
}

.Searching [data-class=CitadelShopMod] {
	visibility: collapse;
}

.Searching [data-class=CitadelShopMod].SearchMatch {
	visibility: visible;
}

.mod_backer {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	vertical-align: bottom;
	background-color: #000000ae;
	border-radius: 5px;
	box-shadow: 5px 5px 2px color-mix(in srgb, var(--courageDarkerColor) 50%, transparent);
	background-color: var(--offWhite);
	ignore-parent-flow: true;
}

[data-class=CitadelShopMod]:hover .mod_backer,
[data-class=CitadelShopMod].owned:hover .mod_backer,
[data-class=CitadelShopMod].usedAsComponent:hover .mod_backer {
	box-shadow: 2px 2px 0px courageDarkerColor&80;
}

[data-class=CitadelShopMod].owned .mod_backer,
[data-class=CitadelShopMod].usedAsComponent .mod_backer {
	background-color: var(--offBlack);
	box-shadow: 2px 2px 0px courageDarkerColor&80;
}

.recommended_icon {
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	width: 22px;
	height: 22px;
	z-index: -1;
	background-color: color-mix(in srgb, var(--buildsLightColor), black 30%);
}

.recommended .recommended_icon {
	visibility: visible;
}

.recommended.usedAsComponent .recommended_icon,
.recommended.owned .recommended_icon {
	visibility: collapse;
}

.modStatusCol {
	width: 30px;
	height: 30px;
	ignore-parent-flow: true;
	vertical-align: top;
	border-radius: 5px 0px 0px 0px;
	overflow: hidden;

	& > * {
		padding: 4px;
		box-sizing: content-box;
	}
}

.recommended .modStatusCol {
	background-color: var(--buildsColor);
}

.spec_mode .recommended .modStatusCol {
	visibility: collapse;
}

.owned .modStatusCol {
	background-color: offWhite&ee;
}

.usedAsComponent .modStatusCol {
	background-color: offBlack&00;
}

.isWeapon.owned .modStatusCol {
	background-color: var(--courageBrightColor);
}

.isTech.owned .modStatusCol {
	background-color: var(--spiritBrightColor);
}

.isArmor.owned .modStatusCol {
	background-color: var(--fortitudeBrightColor);
}

.isWeapon .modIconContainer {
	background-color: #DD9541;
}

.isArmor .modIconContainer {
	background-color: var(--fortitudeBrightColor);
}

.isWeapon.isActiveItem .modIconContainer {
	background-color: var(--courageLightColor);
}

.owned.isWeapon.isActiveItem .modIconContainer,
.owned.isTech.isActiveItem .modIconContainer,
.owned.isArmor.isActiveItem .modIconContainer {
	background-color: var(--offBlack);
}

.isTech .modIconContainer {
	background-color: var(--spiritBrightColor);
}

.isTech.isActiveItem .modIconContainer {
	background-color: var(--spiritLightColor);
}

.isArmor.isActiveItem .modIconContainer {
	background-color: var(--fortitudeLightColor);
}

.defensive_icon {
	position: absolute;
	width: 24px;
	height: 25px;
	horizontal-align: right;
	vertical-align: bottom;
	background-color: #1091A5;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../panorama/images/hud/core/icon_fortitude_shield.svg");
	background-img-opacity: 0.9;
	border-radius: 2px 0px 0px 0px;
	visibility: collapse;
}

.defensive .defensive_icon {
	visibility: visible;
}

.owned .defensive_icon {
	background-color: #00000000;
	opacity: 0.1;
}

.mod_icon {
	background-image: none;
	background-size: 40px;
	width: 40px;
	height: 40px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity, saturation;
	transition-duration: 0.3s;
	margin: 8px;
	background-color: var(--offWhite);
	mask-size: 100%;
}

.isActiveItem .mod_icon {
	background-color: var(--offBlack);
}

.isWeapon .mod_icon {
	background: var(--courageDarkerColor);
}

.isTech .mod_icon {
	background-color: var(--spiritDarkerColor);
}

.isArmor .mod_icon {
	background-color: var(--fortitudeDarkerColor);
}

.owned .mod_icon {
	opacity: 1;
}

#ModTier4 .owned .mod_icon {
	opacity: 1;
	wash-color: #1a1a1a;
}

.isWeapon.usedAsComponent .mod_icon,
.isWeapon.owned .mod_icon {
	background-color: var(--courageBrightColor);
}

.isArmor.usedAsComponent .mod_icon,
.isArmor.owned .mod_icon {
	background-color: var(--fortitudeBrightColor);
}

.isTech.usedAsComponent .mod_icon,
.isTech.owned .mod_icon {
	background-color: var(--spiritBrightColor);
}

.isActiveItem.isWeapon.owned .mod_icon {
	background-color: var(--courageLightColor);
}

.isActiveItem.isArmor.owned .mod_icon {
	background-color: var(--fortitudeLightColor);
}

.isActiveItem.isTech.owned .mod_icon {
	background-color: var(--spiritLightColor);
}

[data-id=background] {
	position: relative;
	width: 100%;
	height: 100%;
	transition-property: background-color;
	transition-duration: 0s;
	flow-children: down;

	& > * {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.mod_bg {
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: var(--offWhite);
}

.modIconContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	height: 55px;
}

.ModTierHovered .modIconContainer {
	border-radius: 5px 5px 0px 0px;
}

.usedAsComponent .modIconContainer,
.owned .modIconContainer {
	background-color: var(--offBlack);
}

.isTier4 .owned .modIconContainer {
	background-color: #ffffff00;
	border-brush: gradient( linear, 0% 0%, 80% 100%, from( #1a1a1a ), to( #1a1a1a90 ) );
}

#ModTier4 .isWeapon.owned .modIconContainer {
	background: linear-gradient(to top, var(--courageLightColor), var(--courageColor));
}

#ModTier4 .isArmor.owned .modIconContainer {
	background: linear-gradient(to top, var(--fortitudeLightColor), var(--fortitudeColor));
}

#ModTier4 .isTech.owned .modIconContainer {
	background: linear-gradient(to top, var(--spiritLightColor), var(--spiritColor));
}

.usedAsComponent [data-id=background],.owned [data-id=background] {
	opacity: 1;
}

.usedAsComponent [data-id=background]:hover,.owned [data-id=background]:hover {
	background-color: colorCommonDarkestGray;
}

.sellWillDestroyItem.owned [data-id=background]:hover .mod_icon {
	background-color: var(--colorCommonDarkestGray);
}

#SellOverlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--offBlack);
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.owned:hover #SellOverlay {
	visibility: visible;
}

.MessageContent {
	vertical-align: middle;
	horizontal-align: middle;
	width: 100%;
	padding: 5px;
	flow-children: down;
}

.SellLabel {
	width: 100%;
	height: 20px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 5px 2.0 #000000;
}

.ItemName {
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: semi-bold;
	text-align: center;
}

.isTech .ItemName {
	color: spiritBrightColor;
}

.isWeapon .ItemName {
	color: courageBrightColor;
}

.SellCost {
	flow-children: right;
	horizontal-align: center;
	margin-top: 10px;
	height: 24px;
}

#SellCostAmount {
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	margin-bottom: 4px;
	font-size: 16px;
}

#SellOverlay .goldIcon {
	width: 20px;
	height: 20px;
	margin-right: 0px;
}

#ReturnToShop {
	background-color: offBlack&ee;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.shopClosed [data-class=CitadelShopMod]:hover #ReturnToShop {
	visibility: visible;
}

.ReturnLabel {
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

[data-class=CitadelShopMod].owned:hover #ReturnToShop {
	visibility: collapse;
}

#AddToBuild {
	background-color: buildsDarkColor&f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds [data-class=CitadelShopMod]:hover #AddToBuild {
	visibility: visible;
}

[data-class=CitadelShopMod].recommended:hover #AddToBuild,
[data-class=CitadelShopMod].itemDisabled:hover #AddToBuild,
#ShopModsSelectedBuild [data-class=CitadelShopMod]:hover #AddToBuild {
	visibility: collapse;
}

.AddToBuildLabel {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

#AlreadyInBuild {
	background-color: #000000f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds [data-class=CitadelShopMod].recommended:hover #AlreadyInBuild {
	visibility: visible;
}

#RemoveFromBuild {
	background-color: rgba(187, 31, 31, 0.9);
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds #ShopModsSelectedBuild [data-class=CitadelShopMod]:hover #RemoveFromBuild {
	visibility: collapse;
}

.AddToBuildLabel {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

@keyframes upgrade_pulse {
	0%
	{
		background-color: #333333ff;
	}
	
	50%
	{
		background-color: #635D39FF;
	}
	
	100%
	{
		background-color: #333333ff;
	}
	
}

.mod_name_area {
	display: flex;
	margin-top: 55px;
	width: 100%;
	height: 55px;
	padding: 5px 2px;
	justify-content: center;
	align-items: center;
}

.modName {
	color: var(--offBlack);
	font-size: 15px;
	font-weight: bold;
	line-height: 19px;
	width: 100%;
	max-height: 50px;
	font-family: var(--sans);
	text-align: center;
}

.owned .modName {
	color: offWhite&90;
}

.usedAsComponent .modName {
	font-style: italic;
	color: offWhite&90;
}

.New .modName {
	width: 155px;
}

.hover .modName {
	color: white;
}

.itemDisabled .modName {
	font-style: italic;
}

.active_tag {
	display: flex;
	justify-content: center;
	margin-top: 46px;
	ignore-parent-flow: true;
	min-width: 60px;
	width: 100%;
	z-index: 1;
	visibility: collapse;

	& span {
		background-color: var(--offBlack);
		border-radius: 2px;
	}
}

.isActiveItem .active_tag {
	visibility: visible;
}

[data-id=ActiveTag],
#ActiveSlotsFull {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 3px;
	line-height: 1;
	min-width: 60px;
	text-align: center;
}

#ActiveSlotsFull {
	color: rgb(255, 88, 88);
}

.new_tag {
	top: 0;
	right: 0;
	left: unset !important;
	horizontal-align: right;
	vertical-align: top;
	text-align: center;
	font-size: 13px;
	ignore-parent-flow: true;
	font-weight: bold;
	background-color: offWhite;
	background-color: #f83a3a;
	color: offWhite;
	visibility: collapse;
	padding: 0 5px 0px 5px;
	border-radius: 0px 0px 0px 6px;
	text-transform: uppercase;
	overflow: hidden;
}

.New .new_tag {
	visibility: visible;
}

.connectedToNewPlayerSandbox .new_tag,.connectedToLaneTraining .new_tag {
	visibility: collapse;
}

.purchasedIcon {
	horizontal-align: right;
	vertical-align: center;
	visibility: collapse;
	width: 100%;
	height: 100%;
/*	z-index: -1;*/
	wash-color: offBlack;
	background-size: contain;
}

.destroyIcon {
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
	width: 24px;
	height: 24px;
	z-index: -1;
}

.sellWillDestroyItem.owned [data-id=background]:hover .destroyIcon {
	visibility: visible;
	wash-color: colorCommonDarkestGray;
}

.owned .purchasedIcon {
	visibility: visible;
}

.sellWillDestroyItem.owned [data-id=background]:hover .purchasedIcon {
	visibility: collapse;
}

.showingFilters #ShopModsListAll [data-class=CitadelShopMod] {
	visibility: collapse;
}

.showingFilters.ShowingWeaponDamageFilter #ShopModsListAll .WeaponDamageFilter,.showingFilters.ShowingMagicDamageFilter #ShopModsListAll .MagicDamageFilter,.showingFilters.ShowingDurabilityFilter #ShopModsListAll .DurabilityFilter,.showingFilters.ShowingFireRateFilter #ShopModsListAll .FireRateFilter,.showingFilters.ShowingClipSizeFilter #ShopModsListAll .ClipSizeFilter,.showingFilters.ShowingMeleeFilter #ShopModsListAll .MeleeFilter,.showingFilters.ShowingHealingFilter #ShopModsListAll .HealingFilter,.showingFilters.ShowingMovementFilter #ShopModsListAll .MovementFilter,.showingFilters.ShowingDisruptionFilter #ShopModsListAll .DisruptionFilter {
	visibility: visible;
}

.componentIcon {
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
	width: 20px;
	height: 20px;
	z-index: -1;
	opacity: 0.5;
}

.usedAsComponent .componentIcon {
	visibility: visible;
}

[data-id=ComponentsContainer] {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.componentModIconContainer {
	vertical-align: top;
	margin-top: 31px;
	margin-right: 5px;
	padding: 2px;
	background-color: var(--offWhite);
	border-radius: 80px;
	overflow: noclip;
	width: 28px;
	height: 28px;
}

.owned .componentModIconContainer,
.componentOwned .componentModIconContainer {
	opacity: 1;
	background-color: offBlack&ee;
}

.owned .componentModIconContainer,
.componentOwned .componentModIconContainer,
.owned .isTechComponent.componentModIconContainer,
.owned .isWeaponComponent.componentModIconContainer,
.owned .isArmorComponent.componentModIconContainer {
	background-color: offBlack&90;
}

[data-id=componentModIcon] {
	width: 20px;
	height: 20px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	mask-size: contain;
}

#componentOwnedIcon {
	width: 16px;
	height: 16px;
	background-image: url("../panorama/images/icons/icon_checkmark.svg");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(0px) translateY(3px);
	wash-color: fortitudeBrightColor;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
	img-shadow: 0px 0px 0px 3.0 offBlack;
}

.componentOwned #componentOwnedIcon {
	visibility: visible;
}

.isWeaponComponent [data-id=componentModIcon] {
	background-color: var(--courageDarkColor);
	opacity: 1;
}

.isArmorComponent [data-id=componentModIcon] {
	background-color: var(--fortitudeDarkColor);
	opacity: 1;
}

.isTechComponent [data-id=componentModIcon] {
	background-color: var(--spiritDarkColor);
	opacity: 1;
}

.owned [data-id=componentModIcon],.componentOwned [data-id=componentModIcon] {
	wash-color: colorCommonOffWhite;
	opacity: 1;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.owned [data-id=componentModIcon] {
	opacity: 0.5;
	width: 10px;
	height: 10px;
}

.componentOwned .isWeaponComponent [data-id=componentModIcon] {
	wash-color: courageBrightColor;
}

.componentOwned .isArmorComponent [data-id=componentModIcon] {
	wash-color: fortitudeBrightColor;
}

.componentOwned .isTechComponent [data-id=componentModIcon] {
	wash-color: spiritBrightColor;
}

.owned .isTechComponent [data-id=componentModIcon] {
	wash-color: spiritBrightColor;
}

.owned .isWeaponComponent [data-id=componentModIcon] {
	wash-color: courageBrightColor;
}

[data-class=CitadelShopMod].owned:hover .componentModIconContainer {
	opacity: 0;
}

#Outline {
	width: 100%;
	height: 100%;
	border: 3px solid white;
	z-index: 100;
	ignore-parent-flow: true;
	border-radius: 5px;
	visibility: collapse;
}

.HoveredItemIsComponent #Outline,.HoveredItemIsUpgrade #Outline {
	visibility: visible;
}

.owned #Outline {
	visibility: collapse;
}

